.mainBlock{
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 22px;
  padding: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  
}

.clubBlock{
  border: 2px solid black;
  padding: 20px;
  background-color: pink; 
}

.info{
  margin-top: 10px;
}

.clickedClub{
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
  border: 2px solid black;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 25px;
  width: 50%;
  margin: auto;
  padding: 20px;
  background-color: burlywood;
}


.magicBall{
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: black;
  width: 400px;
  height: 400px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 100px;
  border: 2px solid black;
  border-radius:50%;
  background-color: pink;
}
.button{
  width: 200px;
}

.inp{
  text-align: center;
}

.inp::-webkit-input-placeholder{ color: black; }